.app-shell {
  min-height: 100vh;
}

.app-shell__header {
  position: relative;
}

.app-shell__header slice-theme-selector {
  position: fixed;
  right: 1rem;
  top: 0.85rem;
  z-index: 1200;
}

.app-shell__content {
  max-width: 960px;
  margin: 0 auto;
  padding: 96px 24px 48px;
}
